{% extends 'base.html' %}


{% block title %}
salam
{% endblock %}



{% block content %}
{% load qr_code %}
<div class="row m-5">
    <div class="col text-center">
      <div class="avatar-upload">
        <div class="avatar-preview">
          <div
            id="imagePreview"
            style="background-image: url('{{user.avatar.url}}')"
          ></div>
        </div>
      </div>
      <h1 style="font-family: Poppins Semibold" class="mt-4">Rating {{user.rate}}</h1>
      <p style="font-family: Poppins Semibold" class="mt-4">remained Rates Coupon for today : {{rate_remained}}</p>
      {% qr_from_text unique_url  size="m"%}

    </div>
    <div class="col-8">
      <div class="card">
        <div class="row d-flex align-items-center m-3">
          <div class="col">
            <h4 style="font-family: Poppins Semibold">username:</h4>
          </div>
          <div class="col" class="attr-field">
            <p>
              {{ user.username }}
            </p>
          </div>
        </div>
        <div class="row d-flex align-items-center m-3">
          <div class="col">
            <h4 style="font-family: Poppins Semibold">first name:</h4>
          </div>
          <div class="col" class="attr-field">
            <p>
              {{user.first_name}}
            </p>
          </div>
        </div>
        <div class="row d-flex align-items-center m-3">
          <div class="col">
            <h4 style="font-family: Poppins Semibold">last name:</h4>
          </div>
          <div class="col" class="attr-field">
            <p>
              {{user.last_name}}
            </p>
          </div>
        </div>
        {% if is_owner %}
          <div class="row d-flex align-items-center m-3">
            <div class="col">
              <a href="{% url 'myprofile' %}edit">
                <button>
                    <p>
                        Edit Profile
                    </p>
                </button>
              </a>
              <a href="{% url 'addpost' %}">
                <button>
                    <p>
                        Add Post
                    </p>
                </button>
              </a>
              <a href="{% url 'logout' %}">
                <button>
                    <p>
                        Logout
                    </p>
                </button>
              </a>
            </div>
          </div>
        {% else %}
        <div class="">
          <div
            class="star-wrapper mb-4"
            dir="rtl"
            style="text-align: center"
          >
            <a
              href="#"
              class="fa fa-star s5"
              style="text-decoration: none"
              onclick="sendRate(5,null, '{{user.pk}}', event)"
              onmouseover="setRate(5,event)"
              onmouseleave="setRate(0,event)"
            ></a>
            <a
              href="#"
              class="fa fa-star s4"
              style="text-decoration: none"
              onclick="sendRate(4,null, '{{user.pk}}',event)"
              onmouseover="setRate(4,event)"
              onmouseleave="setRate(0,event)"
            ></a>
            <a
              href="#"
              class="fa fa-star s3"
              style="text-decoration: none"
              onclick="sendRate(3,null, '{{user.pk}}',event)"
              onmouseover="setRate(3,event)"
              onmouseleave="setRate(0,event)"
            ></a>
            <a
              href="#"
              class="fa fa-star s2"
              style="text-decoration: none"
              onclick="sendRate(2,null, '{{user.pk}}',event)"
              onmouseover="setRate(2,event)"
              onmouseleave="setRate(0,event)"
            ></a>
            <a
              href="#"
              class="fa fa-star s1"
              style="text-decoration: none"
              onclick="sendRate(1,null, '{{user.pk}}',event)"
              onmouseover="setRate(1,event)"
              onmouseleave="setRate(0,event)"
            ></a>
          </div>
        </div>
        <div>
          <p
                  style="
                    font-size: 25px;
                    font-family: Poppins Light;
                    font-weight: bold;
                    text-align: center;
                  "
                  class="mb-4"
                  id="rateParam"
                >
                  0 / 5
                </p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row m-4">
    <h3 style="font-family: Poppins semibold">Description :</h3>
    <p style="font-family: Poppins Light; font-size: 20px">
      {{user.description}}
    </p>
  </div>
  <div class="text-center">
    <canvas id="canvas" width="500" height="300" class="m-4">
  </div>
{% endblock %}